@import '~@/assets/style/var/index.less';

@{w-prefix} {
    @{p-prefix}-articleCreate-page{
        @{p-prefix} {
            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            &-form {
                max-width: 800px;
            }
        }
    }
}